{% extends "sidenav.html" %}{% block title %}Đăng ký nội trú{% endblock %} {% block content%} 
<html lang="en">
  <head>
    <meta name="description" content="Trang web quản lý KTX trường PTIT" />
    <title>Đăng ký nội trú - PTIT Admin</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='FileCss/dknoitru.css')}}" />

    <!-- Font-icon css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    </style>
  </head>
  <body class="app sidebar-mini pace-done sidenav-toggled">
    <form method="POST" action="{{url_for('auth.dknoitru')}}">
      <div class="pace pace-inactive">
        <div
          class="pace-progress"
          data-progress-text="100%"
          data-progress="99"
          style="transform: translate3d(100%, 0px, 0px)"
        >
          <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
      </div>
      <div id="overlay">
        <div class="cv-spinner"><span class="spinner"></span></div>
      </div>

      <main class="app-content">
        <div class="row"><div class="col-md-12"></div></div>
        <div class="app-title">
          <div>
            <h1><i class="fa fa-edit"></i> Đăng ký nội trú PTIT</h1>
            <p>Đơn đăng ký nội trú dành cho sinh viên</p>
          </div>
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Biểu mẫu</li>
            <li class="breadcrumb-item"><a href="#">Đăng ký nội trú</a></li>
          </ul>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="tile">
              <div class="control-disabled"></div>
              <h3 class="mb-3 line-head">Biểu mẫu đăng ký nội trú</h3>
              <div class="tile-body">
                <form id="regForm"  action="" method="post" >
                  <h4>Thông tin sinh viên</h4>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="studentId"
                          >Mã số sinh viên</label
                        ><input
                          class="form-control col-md-9"
                          id="studentId"
                          name="studentId"
                          type="text"
                          placeholder="Mã số sinh viên"
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="studentName"
                          >Họ Tên</label
                        ><input
                          class="form-control col-md-9"
                          id="studentName"
                          name="studentName"
                          type="text"
                          placeholder="Họ và tên"
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="dob">Ngày sinh</label
                        ><input
                          class="form-control col-md-9"
                          id="dob"
                          name="dob"
                          type="text"
                          placeholder="Ngày sinh"
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="gender"> Giới tính </label> 
                            ><input
                              class="form-control col-md-9"
                              id="gender"
                              type="text"
                              name="gender"
                              placeholder="Giới tính"
                              
                            />
                        <div class="form-control-feedback"></div>
                      </div>
                           
                        
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="course">Khóa</label
                        ><input
                          class="form-control col-md-9"
                          id="course"
                          name="course"
                          type="text"
                          placeholder="Khóa"
                    
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="department">Khoa</label
                        ><input
                          class="form-control col-md-9"
                          id="department"
                          name="department"
                          type="text"
                          placeholder="Khoa"
                        
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="studentClass">Lớp</label
                        ><input
                          class="form-control col-md-9"
                          id="studentClass"
                          name="studentClass"
                          type="text"
                          placeholder="Lớp"
                        
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="email">Email</label
                        ><input
                          class="form-control col-md-9"
                          id="email"
                          name="email"
                          type="email"
                          placeholder="Email"
                        
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="nationalId"
                          >CMND/CCCD</label
                        ><input
                          class="form-control col-md-9"
                          id="nationalId"
                          name="nationalId"
                          type="text"
                          placeholder="CMND/CCCD"
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="issuedDt"
                          >Ngày Cấp</label
                        ><input
                          class="form-control col-md-9"
                          id="issuedDt"
                          name="issuedDt"
                          type="text"
                          placeholder="DD/MM/YYYY"
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="issuedPlace"
                          >Nơi Cấp</label
                        ><input
                          class="form-control col-md-9"
                          id="issuedPlace"
                          name="issuedPlace"
                          placeholder="Chọn Nơi cấp"
                        />
                        <div class="dropdown">
                          <span>?</span>
                          <div class="dropdown-content">
                          <p>Hà Nội</p>
                          <p>Hải Phòng</p>
                          <p>Hồ Chí Minh</p>
                          <p>...</p>
                          </div>
                        </div>
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="phone">Điện Thoại</label
                        ><input
                          class="form-control col-md-9"
                          id="phone"
                          name="phone"
                          type="tel"
                          placeholder="Điện thoại"
                        />
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="ethnic">Dân Tộc</label
                        ><input
                          class="form-control col-md-9"
                          id="ethnic"
                          name="ethnic"
                          placeholder="Chọn dân tộc"
                        />
                        <div class="dropdown">
                          <span>?</span>
                          <div class="dropdown-content">
                          <p>Kinh</p>
                          <p>Mường</p>
                          <p>Tày</p>
                          <p>...</p>
                          </div>
                        </div>
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label" for="religion"
                          >Tôn Giáo</label
                        ><input
                          class="form-control col-md-9"
                          id="religion"
                          name="religion"
                          placeholder="Chọn tôn giáo..."
                        />
                        
                        <div class="dropdown">
                          <span>?</span>
                          <div class="dropdown-content">
                          <p>Phật giáo</p>
                          <p>Thiên chúa giáo</p>
                          <p>Đạo hồi giáo</p>
                          <p>Không có</p>
                          </div>
                        </div>
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label"  for="Address" >Địa Chỉ Thường Trú</label
                        ><textarea
                          class="form-control col-md-9"
                          id="street"
                          name="street"
                          rows="1"
                          placeholder="Địa chỉ"
                        ></textarea>
                        <div class="dropdown">
                          <span>?</span>
                          <div class="dropdown-content">
                          <p>Sốnhà/Ngõ/Phường/Quận/Thànhphố</p>
                          </div>
                        </div>
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                  </div>
    
                  <h4>Đăng ký Ký túc xá</h4>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="dormId">Ký túc xá</label
                        ><input
                          class="form-control col-md-9"
                          id="dormId"
                          name="dormId"
                          placeholder="Chọn kí túc xá"
                        />
                        <div class="dropdown">
                          <span>?</span>
                          <div class="dropdown-content">
                          <p>Kí túc xá B1</p>
                          <p>Kí túc xá A2</p>
                          <p>Kí túc xá C3</p>
                          </div>
                        </div>
                        <div class="form-control-feedback"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tile-footer">
                <div class="row">
                  <div class="col-md-8 col-md-offset-3">
                    <button class="btn btn-primary" id="regBtn" type="submit">
                      <i class="fa fa-fw fa-lg fa-check-circle"></i>Đăng ký</button
                    >&nbsp;&nbsp;&nbsp;<a
                      class="btn btn-secondary"
                      type="button"
                      href="#"
                      onclick="history.go(-1)"
                      ><i class="fa fa-fw fa-lg fa-times-circle"></i>Hủy</a>

      </main>
    </form>
  </body>
</html>
{% endblock %}